.body {
    background-color: brown;
}

.container {
    margin: auto;
    margin-top: 50px;
    background-color: brown;
}

.btn-success {
    margin-left: 35%;
    margin-right: 35%;
}

.card {
    border: 5px solid rgb(128, 40, 40);
    width: 24rem;
    margin: auto;
}

.card-text {
    text-align: center;
    color: aliceblue;
}

.card-title {
    text-align: center;
    color: aliceblue;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card-body {
    background-color: brown;
}